<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIed_0S0oSRbG7ju1b3QQQ_Wl0EjOznOw</string>
	<key>GCM_SENDER_ID</key>
	<string>473388777199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservoirStartuptn</string>
	<key>PROJECT_ID</key>
	<string>reservoir-technician</string>
	<key>STORAGE_BUCKET</key>
	<string>reservoir-technician.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473388777199:ios:088c634360d1dfeceba51a</string>
</dict>
</plist>